body
  font-family: $sourceSansPro
  font-size: 16px
  line-height: 1.5
  font-weight: normal;
  color: #4a4a4a
h1
  font-size: 48px
h2
  font-size: 32px
h3
  font-size: 24px
h1
h2
h3
h4
h5
p
  margin: 0
a
  text-decoration: none
  color: $purple
  font-weight: bold
  &:hover
    cursor: pointer
img
  max-width: 100%
