@media (max-width: 768px)
    .box-intro__logo
        left: calc(50vw - 16px) !important
        top: 32px !important
    .box-intro,
    .box-ava,
    .box-article,
    .box-nav
        width: 100% 
        flex-basis: 100% !important
    .box-intro
        min-height: 100vh !important
        z-index: 2
    
    .box-intro__content
        max-width 100% !important
        margin: 64px 32px !important
    .box-ava
        position: absolute
        bottom: 0
    .box-nav .oval,
    .box-nav nav
        margin-left: 32px !important
    .main-nav
        flex-direction: column
        text-align: center
        .main-nav__logo
            margin: 0 0 16px !important